/*.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-item {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  }*/
  
  :root {
    --bs-font-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
  }

  .dropdown.no-arrow .dropdown-toggle::after {
    display: none;
  }

  .navbar{
     padding: 0.5rem 1rem ;
  }

  .dropdown-menu{
    font-size: 1rem;
  }

  .dropdown-menu[data-bs-popper] {
    margin-top: 1.75rem;
  }

  
  .offer-description{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 400px;
  }

  .input-group-lg > .btn {
    /*padding: 0.5rem 1rem;*/
    padding:8px 35px;
    font-size: 1.25rem;
    border-radius: 1.5rem;
  }

  .card {
    border-radius: 0.35rem;
  }

  /*
  .card .shadow-lg {
    box-shadow: 0 0.45rem 3rem rgba(0, 0, 0, 0.175) !important;
  }*/

  